tqdm
rich
ninja
numpy
pandas
scipy
scikit-learn
matplotlib
opencv-python
imageio
imageio-ffmpeg

torch
torch-ema
einops
tensorboard
tensorboardX

# for grid_tcnn
# git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch

# for stable-diffusion
# see https://github.com/easydiffusion/easydiffusion/issues/1851
huggingface_hub==0.25.0
diffusers==0.20.0
accelerate
transformers
# git+https://github.com/facebookresearch/xformers.git@main#egg=xformers
# pip3 install -U xformers==0.0.24 --index-url https://download.pytorch.org/whl/cu121
triton
